body {
  background-image: url('../img/the x.png');
  position: 45;
}

@font-face {
	font-family: ebrima;
	src: url("../font/ebrima.ttf");
}

@font-face {
	font-family: corbel;
	src: url("../font/CORBEL.TTF");
}
