@font-face { font-family: corbel; src: url('../font/CORBEL.TTF'); }
@font-face { font-family: ebrima; src: url('../font/ebrima.ttf'); } 
a.titlebarLinks:link, a.titlebarLinks:visited {
	background-color: #565b61;
	color: black;
	border: 2px solid #9f9ba3;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	/*text-shadow: 7px 4px #00000055;*/
	display: inline-block;
	width: 25px;
}
a.titlebarLinks:hover, a.titlebarLinks:active {
	background-color: #0066ff;
	color: white;
}
h1 {
    font-family: corbel;
}
p {
    font-family: ebrima;
}
h2 {
    font-family: corbel;
}
a.nsmbwii {
    font-family: nsmbu-font;
}
body {
    text-align: center;
    background-image: linear-gradient(red, #ff00ff);
    background-size: cover;
    background-repeat: no-repeat;
}
div.padding {
    padding: 20px;
}
div.inTheWorksNotice {
    width: 500px;
    height: 24px;
    text-align: center;
    border: 5px solid red;
    background-color: #de0000;
    font-family: ebrima;
}
div.titlebar {
    margin: auto;
    width: 101%;
    height: 100px;
    /*padding: -50px;*/
    position:relative;
	left:-11px;
	top:-21px;
    background-color: #11113375;
    box-shadow: 0px 10px 5px #00002250;
}
div.titlebarText{
    position:relative;
	right:-11px;
	bottom: -5px;
}
div.titlebarNav {
    position:relative;
	right:-22px;
}
p.titlebarNavBlog {
    font-family: ebrima;
    text-align: center;
    display: inline;
    /*cursor: not-allowed;*/
    color: #787878;
}
p.titlebarNavLinkTwo {
    font-family: ebrima;
    text-align: center;
    display: inline;
    /*cursor: not-allowed;*/
    color: #787878;
}
div.newStuffSection {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 100px;
    background-color: #55111175;
    box-shadow: 10px 10px 5px #44000050;
    font-family: ebrima;
}
div.aboutMe {
    text-align: center;
    /*margin: auto;*/
    position: relative;
    left: 50px;
    width: 800px;
    height: 180px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.aboutWebsite {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 290px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.sectionHeader {
    text-align: center;
    margin: auto;
    width: 900px;
    height: 50px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.projectsModding {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 100px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.projectsWebsite {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 120px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.junkDrawer {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 180px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}
div.footer {
    text-align: center;
    margin: auto;
    width: 900px;
    height: 50px;
    background-color: #11113375;
    box-shadow: 10px 10px 5px #00002250;
    font-family: ebrima;
}