@font-face {
	font-family: nsmbu-font;
	src: url("../font/nsmbu-font.ttf");
}

@font-face {
	font-family: seurat-pro;
	src: url("../spooky/font/seurat-pro.otf");
}

h1 {
  font-size: 40px;
}

body {
  background-image: url("../spooky/img/4x4-Diamonds.png");
}
